#home_page {
    display: grid;
    grid-template-columns: 4fr 1fr;
    

    .feeds {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        overflow-y: auto;

        .create-feed {
            background-color: $white-color;
            padding: 1em;
            border-radius: 8px;

            h4 {
                font-size: 20px;
                font-weight: 600;
                margin: 0;
                margin-bottom: 1em;
            }

            .names-input {
                width: auto !important;
                margin-bottom: 1em;

                input {
                    width: 100%;
                }
            }

            .points-list {
                padding: 1em 0;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                column-gap: 1em;
                row-gap: 0.5em;

                label {
                    border: 1px solid $text-color;
                    padding: 0.3em 1.5em;
                    font-size: 14px;
                    border-radius: 5px;
                    color: $text-color;
                    cursor: pointer;
                    transition: $transition-style;

                    &:hover {
                        background-color: $bg-color;
                        transition: $transition-style;
                    }
                }

                input:checked + label {
                    background-color: $dark-color !important;
                    color: $white-color;
                    font-weight: 700;
                    transition: $transition-style;
                }
            }

            .impressions {
                padding: 1em 0;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                row-gap: 0.5em;

                label {
                    border: 1px solid $text-color;
                    padding: 0.3em 1.5em;
                    font-size: 16px;
                    border-radius: 5px;
                    color: $text-color;
                    cursor: pointer;
                    transition: $transition-style;

                    &:hover {
                        background-color: $bg-color;
                        transition: $transition-style;
                    }
                }

                input:checked + label {
                    background-color: $dark-color !important;
                    color: $white-color;
                    font-weight: 700;
                    transition: $transition-style;
                }
            }

            textarea {
                width: 100%;
                padding: 0.5em;
                border-radius: 8px;
                border: 1px solid $text-color;
                min-height: 150px;
                margin-bottom: 1em;
                resize: none;
            }

            .radio-group {
                input {
                    display: none;
                }
            }

            .message-before {
                margin: 0;
                font-size: 14px;
            }

            .border-btn {
                margin-top: 1em;
            }
        }
    }
}