.password-reset {
    height: 100vh;
    width: 100vw;
    position: relative;

    .header-part {
        position: absolute;
        top: 0;
        left: 0;
        padding: 1em 4em;

        img {
            width: 150px;
        }
    }
}